<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <title>Derp</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="app/css/styles.min.css">
    <script type="text/javascript" src="lib/js/angular.min.js"></script>
  </head>
  <body data-ng-app="game">
    <div id="container" tabindex="0"
	     data-ng-controller="CoreController"
		 data-ng-keydown="onKeyDown($event)"
		 data-ng-keyup="onKeyUp()">
	  <div class="notice">
	    <div class="notice__wrap">click to continue</div>
	  </div>
	  <div class="sign"
	       data-ng-hide="!textToType">
		<div class="sign__wrap"
		     data-game-sign="textToType"></div>
	  </div>
	  <div class="level">
		<div class="layer"
		     data-ng-repeat="layer in makeArray(5) track by $index"
			 data-ng-init="range = getRangeAt($index)">
	      <div class="layers__tiles">
            <div class="tile"
		         data-ng-class="{ 'tile_empty': getCollisionAt($index, $parent.$index, range.length) === -1 }"
		         data-ng-repeat="tile in range track by $index"></div>
		  </div>
		  <div class="layers__sprites">
            <div class="sprite sprite_type_{{  $parent.$index > 1 ? sprite.type : 'unknown' }} sprite_order_{{ sprite.order }}"
		         data-ng-repeat="sprite in getSpritesAt($index, range.length)"></div>
		  </div>
	      <div class="layers__walls">
            <div class="wall"
		         data-ng-class="{ 'wall_empty': getCollisionAt($index, $parent.$index, range.length) === 0 }"
		         data-ng-repeat="tile in range track by $index"></div>
		  </div>
		</div>
	  </div>
	</div>
  </body>
  <script type="text/javascript" src="app/js/common/sugar.js"></script>
  <script type="text/javascript" src="app/js/common/core.js"></script>
  <script type="text/javascript" src="app/js/common/app.js"></script>
  <script type="text/javascript" src="app/js/common/directives.js"></script>
  <script type="text/javascript" src="app/js/controllers/coreController.js"></script>
</html>