<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <title>Derp</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="app/css/styles.min.css">
    <script type="text/javascript" src="lib/js/angular.min.js"></script>
  </head>
  <body data-ng-app="game">
    <div id="container">
	  <div class="level"
	       data-ng-controller="LevelController">
		<div class="layer"
		     data-ng-repeat="layer in makeArray(4) track by $index"
			 data-ng-init="range = getRangeAt($index)">
		  <div class="wall {{ getWallClass($index, range.length) }}"
		       data-ng-repeat="wall in range track by $index"
			   data-ng-show="wallPresentAt($index, $parent.$index, range.length)"></div>
		</div>
	  </div>
	</div>
  </body>
  <script type="text/javascript" src="app/js/common/app.js"></script>
  <script type="text/javascript" src="app/js/controllers/levelController.js"></script>
</html>