body {
  background-color: black;
  font-family: monospace;
}

@width: 800px;
@height: 600px;

#container {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: @width;
  height: @height;
  padding-bottom: 80px;
  margin-top: -(@height / 2);
  margin-left: -(@width / 2);
  .box-sizing(border-box);

  &:focus {
    outline: none;

	& > .notice { display: none }
  }
}

.notice {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: @height;
  background-color: rgba(0,0,0,.5);
  text-align: center;
}

.notice__wrap {
  display: inline-block;
  width: 50%;
  line-height: normal;
  padding: 40px 20px;
  background-color: black;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.pointers {
  position: relative;
  z-index: 4;
  opacity: 0;
  height: 100%;
  margin-top: -440px;

  &:hover { opacity: 1 }
}

.pointers__hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 54px;
  height: 46px;
  background-image: url('../i/pointers.png');
  background-repeat: no-repeat;
  background-position: 0 0;

  &.pointers__hand_move-forward { margin-top: 24px }

  &.pointers__hand_turn-right {
    left: 100%;
	margin-left: -(54px + 60px);
    background-position: -54px 0;
  }

  &.pointers__hand_turn-left {
    left: 0;
	margin-left: 60px;
    background-position: -108px 0;
  }
}

.level, .tile:before, .tile:before {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.level {
  position: relative;
  width: 100%;
  height: 520px;
  background-image: url('../i/floor.png');
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.layer {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;

  .wall:nth-child(3), .wall:nth-child(4), .wall:last-child {
    .transform(scaleX(-1));
  }

  &:first-child {
    z-index: 0;
    height: 64px;
	margin-top: -32px;

	.wall:after {
	  height: 40px;
	  margin: 12px 0;
	}
	
	.wall:first-child, .wall:last-child {
	  width: 280px;
	  background-position: 68px -35px;

	  &:before {
	    width: 208px;
		background-color: lighten(black, 10);
	  }

	  &:after {
	    width: 72px;
		margin-left: -72px;
		background-color: lighten(black, 5);
	  }
	}

	.wall:nth-child(2), .wall:nth-child(4) {
	  z-index: 1;
	  width: 152px;
	  margin-left: -192px;
	  background-position: 128px -168px;

	  &:before {
	    width: 128px;
		background-color: lighten(black, 15);
	  }

	  &:after {
	    width: 24px;
		margin-left: -24px;
		background-color: lighten(black, 10);
	  }
	}

	.wall:nth-child(3) {
	  z-index: 2;
	  width: 128px;
	  margin-left: -64px;
	  background-image: none;
	  background-color: lighten(black, 20);
	}

	.wall:nth-child(4) { margin-left: 40px }
	.wall:last-child { margin-left: -280px }
  }

  &:nth-child(2) {
    z-index: 1;
    height: 100px;
	margin-top: -50px;

	.wall:after {
	  height: 64px;
	  margin: 18px 0;
	}

	.wall:first-child, .wall:last-child {
	  width: 208px;
	  background-position: -40px -17px;

	  &:before {
	    width: 100px;
		background-color: lighten(black, 30);
	  }

	  &:after {
	    width: 108px;
		margin-left: -108px;
		background-color: lighten(black, 25);
	  }
	}

	.wall:nth-child(2), .wall:nth-child(4) {
	  z-index: 1;
	  width: 236px;
	  margin-left: -300px;
	  background-position: 200px -150px;

	  &:before {
	    width: 200px;
		background-color: lighten(black, 35);
	  }

	  &:after {
	    width: 36px;
		margin-left: -36px;
		background-color: lighten(black, 30);
	  }
	}

	.wall:nth-child(3) {
	  z-index: 2;
	  width: 200px;
	  margin-left: -100px;
	  background-image: none;
	  background-color: lighten(black, 40);
	}

	.wall:nth-child(4) { margin-left: 64px }
	.wall:last-child { margin-left: -208px }
  }

  &:nth-child(3) {
    z-index: 2;
    height: 160px;
	margin-top: -80px;

	.wall:after {
	  height: 100px;
	  margin: 30px 0;
	}

	.wall:first-child, .wall:last-child {
	  width: 100px;
	  background-position: -140px 13px;

	  &:after {
	    width: 100px;
		margin-left: -100px;
		background-color: lighten(black, 45);
	  }
	}

	.wall:nth-child(2), .wall:nth-child(4) {
	  z-index: 1;
	  width: 300px;
	  background-position: 240px -120px;

	  &:before {
	    width: 240px;
		background-color: lighten(black, 55);
	  }

	  &:after {
	    width: 60px;
		margin-left: -60px;
		background-color: lighten(black, 50);
	  }
	}

	.wall:nth-child(2) { left: 0 !important }

	.wall:nth-child(3) {
	  z-index: 2;
	  width: 320px;
	  margin-left: -160px;
	  background-image: none;
	  background-color: lighten(black, 60);
	}
	
	.wall:nth-child(4) { margin-left: 100px }
    .wall:last-child { margin-left: -100px }
  }

  &:nth-child(4) {
    z-index: 3;
    height: 260px;
	margin-top: -130px;

	.wall:first-child, .wall:last-child {
	  width: 240px;
	  background-position: 140px -70px;

	  &:before {
	    width: 140px;
		background-color: lighten(black, 75);
	  }

	  &:after {
	    width: 100px;
		height: 160px;
		margin: 50px 0;
		margin-left: -100px;
		background-color: lighten(black, 70);
	  }
	}

	.wall:nth-child(2) {
	  z-index: 1;
	  width: 520px;
	  margin-left: -260px;
	  background-image: none;
	  background-color: lighten(black, 80);
	}

    .wall:last-child { margin-left: -240px }
  }

  &:last-child {
    z-index: 4;
    height: 400px;
	margin-top: -200px;

	.wall:first-child, .wall:last-child {
	  width: 140px;
      background-image: url('../i/corners.png');
      background-repeat: no-repeat;
      background-position: 0 0;

	  &:after {
	    width: 100%;
	    height: 260px;
		margin: 70px 0;
		margin-left: -140px;
		background-color: lighten(black, 90);
	  }
	}

    .wall:last-child { margin-left: -140px }
  }
}

.layer__tiles, .layer__objects, .layer__walls { position: relative }

.layer__tiles { z-index: 0 }
.layer__objects { z-index: 1 }
.layer__walls { z-index: 2 }

.wall {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url('../i/corners.png');
  background-repeat: no-repeat;
  background-position: 0 0;

  &:before, &:after {
    position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	content: '';
  }

  &:before { height: 100% }
  &:after { left: 100% }
 
  &.wall_empty {
    background-image: none !important;
	background-color: transparent !important;

	&:before, &:after { background-color: transparent !important }
  }

  &:first-child, &:last-child { z-index: 0 }
  &:nth-child(2), &:nth-child(3), &:nth-child(4) { left: 50% }
  &:last-child { left: 100% !important }
}