body {
  background-color: black;
}

@width: 800px;
@height: 600px;

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: @width;
  height: @height;
  padding: 80px 0;
  margin-top: -(@height / 2);
  margin-left: -(@width / 2);
  .box-sizing(border-box);
}

.pointers {
  position: relative;
  z-index: 4;
  opacity: 0;
  height: 100%;
  margin-top: -440px;

  &:hover { opacity: 1 }
}

.pointers__hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 54px;
  height: 46px;
  background-image: url('../i/pointers.png');
  background-repeat: no-repeat;
  background-position: 0 0;

  &.pointers__hand_move-forward { margin-top: 24px }

  &.pointers__hand_turn-right {
    left: 100%;
	margin-left: -(54px + 60px);
    background-position: -54px 0;
  }

  &.pointers__hand_turn-left {
    left: 0;
	margin-left: 60px;
    background-position: -108px 0;
  }
}

.level, .tile:before, .tile:before {
  background-repeat: no-repeat;
  background-position: 0 0;
}

.level {
  position: relative;
  width: 100%;
  height: 440px;
}

.tiles, .walls {
  position: absolute;
  top: 50%;
  left: 50%;
}

.tiles { z-index: 0 }
.walls { z-index: 1 }

.tiles__item , .walls__item {
  position: absolute;
  top: 0;
  left: 0;
}

.tiles__item {
  *height: 100%;
  background-image: url('../i/tiles.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:first-child {
    & > .tiles, & > .walls {
	  height: 32px * 2;
	  margin-top: -(32px / 2) * 2;
	}

    & > .tiles > .tiles__item {
	  width: 60px * 2;
      height: 100%;

	  &:first-child, &:last-child { background-image: none }

	  &:nth-child(2), &:nth-child(4) {
	    z-index: 1;
		width: 76px * 2;
		margin-left: -102px * 2;
		background-position: 0 0;
	  }

	  &:nth-child(3) {
	    z-index: 2;
		margin-left: -(60px / 2) * 2;
		background-position: -76px * 2 0;
	  }

	  &:nth-child(4), &:last-child {
	    .transform(scaleX(-1));
	  }

	  &:nth-child(4) { margin-left: 26px * 2 }
	}
  }
 
  /*
  &:first-child {
    & > .tile {
	  height: 32px * 2;
	  margin-top: -16px * 2;

	  &:after {
	    width: 60px * 2;
		height: 32px * 2;
	  }

	  &:first-child, &:last-child {
	    margin-left: 80px;
	    
		&:after { background-color: lighten(black, 12) }
	  }

	  &:nth-child(2), &:nth-child(4) {
	    z-index: 1;
		width: 76px * 2;
		margin-left: -104px * 2;
		background-position: 0 0;

		&:after {
		  margin-left: 12px * 2;
		  background-color: lighten(black, 24);
		}
	  }

	  &:nth-child(3) {
	    z-index: 2;
	    width: 60px * 2;
		margin-left: -64px;
		background-position: -76px * 2 0;

		&:after { background-color: lighten(black, 34) }
	  }

	  &:nth-child(4) {
	    margin-left: 24px * 2;

		&:after { margin-left: 12px * 2 }
	  }
	  
	  &:nth-child(4), &:last-child {
	    .transform(scaleX(-1));
	  }
	}
  }

  */
  
  /*

  &:first-child {
    z-index: 0;
	height: 64px;
	margin-top: -32px;

	& > .tile {
	  &:after {
	    width: 128px;
	    height: 64px;
	  }

	  &:first-child, &:last-child {
	    margin-left: 80px;
	    
		&:after { background-color: lighten(black, 12) }

		&:before {
		  width: 36px;
		  height: 64px;
		  margin-left: 128px;
		  background-position: -208px -36px;
		}
	  }

	  &:nth-child(2), &:nth-child(4) {
        z-index: 1;
		margin-left: -192px;

		&:after { background-color: lighten(black, 24) }

		&:before {
		  width: 12px;
		  height: 64px;
		  margin-left: 128px;
		  background-position: -336px -304px;
		}
	  }
	  
	  &:nth-child(3) {
        z-index: 2;
		margin-left: -64px;

		&:after { background-color: lighten(black, 34) }
	  }

	  &:nth-child(4) {
		margin-left: 64px;
		.transform(scaleX(-1));

		&:before { margin-left: 0 }
		&:after { margin-left: -128px }
	  }

	  &:last-child {
	    margin-left: -80px;
		.transform(scaleX(-1));
	  }
	}
  }
  
  &:nth-child(2) {
    z-index: 1;
	margin-top: -50px;

	&:after {
	  width: 100px;
	  height: 100px;
	}

	& > .tile:first-child, & > .tile:last-child {
	  &:after { background-color: lighten(black, 24) }

	  &:before {
	    width: 108px;
		height: 100px;
	    margin-left: 100px;
	    background-position: -100px -18px;
	  }
	}

	& > .tile:nth-child(2), & > .tile:nth-child(4) {
	  z-index: 1;
	  margin-left: -(102px + 200px);
	  
	  &:after {
	    width: 202px;
	    background-color: lighten(black, 36);
	  }

	  &:before {
	    width: 36px;
		height: 100px;
	    margin-left: 202px;
	    background-position: -300px -286px;
	  }
	}

	& > .tile:nth-child(3) {
      z-index: 2;
	  margin-left: -100px;
	  
	  &:after {
	    width: 200px;
	    background-color: lighten(black, 46)
	  }

	  &:before { content: none }
	}
	  
	& > .tile:nth-child(4) {
	  margin-left: 100px;
	  .transform(scaleX(-1));
	}

	& > .tile:last-child {
	  margin-left: -100px;
	  .transform(scaleX(-1));
	}
  }

  &:nth-child(3) {
    z-index: 2;
    height: 160px;
	margin-top: -80px;

	& > .tile:first-child:before, & > .tile:last-child:before {
	  width: 100px;
	  height: 136px;
	  margin-top: 10px;
	}
	
	& > .tile:nth-child(2), & > .tile:nth-child(4) {
	  z-index: 1;
	  width: 240px;
	  margin-left: -(240px + 160px);
	  
	  &:after { background-color: lighten(black, 50) }

	  &:before {
	    width: 60px;
		height: 160px;
	    margin-left: 240px;
	    background-position: -240px -256px;
	  }
	}

	& > .tile:nth-child(3) {
      z-index: 2;
	  width: 320px;
	  margin-left: -160px;
	  
	  &:after { background-color: lighten(black, 60) }

	  &:before { content: none }
	}

	& > .tile:nth-child(4) {
	  margin-left: 160px;
	  .transform(scaleX(-1));
	}

	& > .tile:last-child {
	  .transform(scaleX(-1));
	}
  }

  &:nth-child(4) {
    z-index: 3;
	margin-top: -150px;

	& > .tile:not(.tile_empty):after {
	  width: 100px;
	  height: 300px;
	}

	& > .tile:first-child, & > .tile:last-child {
	  &:after { background-color: lighten(black, 66) }

	  &:before {
	    width: 140px;
		height: 300px;
		margin-left: 100px;
		background-position: -100px -186px;
	  }
	}

	& > .tile:nth-child(2) {
      z-index: 1;
	  margin-left: -300px;

	  &:not(.tile_empty):after {
	    width: 600px;
	    background-color: lighten(black, 76);
	  }

	  &:before { content: none }
	}

	& > .tile:last-child {
	  margin-left: -100px;
	  .transform(scaleX(-1));

	  &:before { margin-left: 0 }
	  &:not(.tile_empty):after { margin-left: -100px }
	}
  }

  &:last-child {
    z-index: 4;
    height: 404px;
	margin-top: -200px;

	& > .tile:before {
      width: 100px;
      height: 100%;
      background-position: 0 -136px;
	}

	& > .tile:last-child {
	  .transform(scaleX(-1));
	}
  }
  
  */
}